@font-face {
  font-family: Retro;
  src: url(/fonts/sh-pinscher/SHPinscher-Regular.otf);
}

body {
  font-family: Retro;
  text-align: center;
  color: white;
  background-color: #000000;
  font-size: 32px;
  user-select: none;
}

#question-box {
  display: block;
  background-color: #000000;
  padding: 50px;
  border: solid;
  border-color: gray;
  border-radius: 10px;
  border-width: 5px;
  border-bottom-width: 10px;
  margin-top: 50px;
}

#options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  gap: 10px;
  justify-content: space-around;
  margin-top: 20px;
}

.options-box {
  display:block;
  padding: 10px;
  background-color: gray;
  cursor: pointer;
  padding: 40px;
  border-radius: 10px;
  border: solid;
  border-color: black;
}

#bottom-buttons {
  position: absolute;
  bottom: 0;
  width: 50%%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

button {
  font-family: Retro;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  background-color:#000000;
  color: rgb(255, 255, 255);
  border: solid; 
  border-radius: 5px; 
}

.g2{
  border: solid;
  border-color: white;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

#answer-status {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}



#result-container {
  text-align: center;
  margin-top: 50px;
  display: none;
}


/* Add these styles to your existing CSS */
@keyframes correctFlash {
  0% { background-color: #4CAF50; }
  50% { background-color: #ffffff; } /* Flash to white halfway through the animation */
  100% { background-color: #4CAF50; }
}

.correct-flash {
  animation: correctFlash 0.5s;
}

.correct-answer {
  color: #ffffff; /* Text color for correct answer */
  background-color: #000000; /* Green background color */
}

.incorrect-flash {
  animation: incorrectFlash 0.5s;
}

@keyframes incorrectFlash {
  0% { background-color: #FF0000; }
  50% { background-color: #ffffff; }
  100% { background-color: #FF0000; }
}

/* Add this to your CSS stylesheet */
.options-box {
  height: 50px; /* Adjust the height as needed */
  /* Add other styling properties if necessary */
}

