@font-face {
    font-family: Retro;
    src: url(/fonts/sh-pinscher/SHPinscher-Regular.otf);

}

a{
    text-decoration: none;
}

*{
    background-color: black;
    letter-spacing: 2px;
    
}

body {
    font-family: "Retro";
    font-size: 32px;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: white;
}

.gumbi1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.gumbi1_zgoraj {
    display: flex;
}

.gumbi1_spodaj{
    display: flex;
}

.gumbi2{
    display: flex;
    margin-top: 50px;
    padding: 20px;
}

.g1{
    font-size: 32px;
    font-weight: bold;
    background-color: #787878;
    width: 230px;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    color: white
}

#gumb1, #gumb2, #gumb3, #gumb4{
   display: flex;
}

.vprasanje {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-color: #787878;
    border-style: solid;
    border-bottom-width: 15px;
    border-top-width: 5px;
}

.g2{
    font-size: 18px;
    border: 2px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    color: white;
}

footer {
    display: flex;

}